.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 1px;
}

.nav-menu li a {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
}

.user-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sign-in-btn {
  padding: 10px 20px;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  display: none; 
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.menu-open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .user-actions {
    display: none;
  }
}
